<h1>Convert <%=@original_currency %> to <%=@destination_currency %></h1>
<p>1 <%= @original_currency%> equals <%= @to_fetched %> <%= @destination_currency%>.</p>

<br />
Go <a  href="/<%=@original_currency %>">back.</a>
